{% extends "base.html" %} {% load static %} {% block style %}
<style>
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
</style>
{% endblock %} {% block main %}
<body class="text-center sign-in">
  <form
    class="form-signin"
    id="formLogin"
    method="POST"
    action="{% url 'core:reset_password' %}"
  >
  {% csrf_token %}
    <img
      class="mb-4"
      src="{% static 'img/task1.png' %}"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">We Can Do</h1>
    <label for="passwordReset" class="sr-only">Digite sua nova senha</label>
    <input type="hidden" name="userUuid" value="{{user_uuid}}">
    <input
      type="password"
      id="passwordReset"
      name="passwordReset"
      class="form-control"
      placeholder="Digite sua nova senha"
      required
      autofocus
      style="margin-bottom: 10px;"
    />
    <div class="checkbox mb-3">
        <a href="{% url 'core:login' %}" style="float: right;">Fazer Login</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      <i class="fa fa-sign-in"></i>
      Salvar
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</body>
{% endblock %} 
